<h1>Welcome To My Sneaker Website!</h1>
<h4> Learn so much about sneakers, their history and their trendy impact on society, plus get to know some famous sneakerheads and youtubers!</h4>


<ul class="sub-nav menu" role="navigation" title="Filter Menu List">
  <li class="sub-nav-title">About me:</li>
  <li class="active"><span class="show-for-sr">Information on famous sneakerheads </span><a href=""Info on famous sneakerheads</a></li>
  <li><a href="index.htmlpage2.erb">Origin of Sneakers</a></li>
  <li><a href="#">Youtubers</a></li>
  <li><a href="#">What's in Trend</a></li>
<a href="index.html"> Homepage </a>
<a href="ET-718 Final Second Webpage.html"> History of Sneakers </a>
</ul>

<h1> About Me </h1>

<img src="https://scontent.xx.fbcdn.net/v/t1.0-9/11407001_650494948418551_7396363210358104309_n.jpg?oh=5995402bd347b73f10d5c342c5e3ab1e&oe=57AB5386" alt="Facebook Picture"
style="width:400px; height:400px;"> <img src="http://sneakernews.com/wp-content/uploads/2012/02/air-jordan-vi-olympics-new-on-foot-images-2.jpg" alt="Jordan Olympic 7"
style="width:600px; height:400px;"> <img src="http://blog.wishatl.com/wp-content/uploads/2016/03/Air-Jordan-12-White-Blue-41.jpg" alt="Jordan 12"
style="width:550px; height:350px;">



<br> <h4> My name is Aidan Anthony Avery and I am in my second year enrolled at Queensborough Community College.
  I am a Internet Technology major and I am excited and humbled to be a student member at the school. I love computers and
  technology overall in general because of the amazing innovations they bring to life. My hobbies include, social media,
  watching funny YouTube videos and desiging websites for fun, which is what I love most about my major. </br> </h4>

  <br> <h4> I am also a huge phenomenon of sneakers!, I may not really be considered a sneakerhead because I literally
    do not own a stock and closet full of shoes, but in dream and spirit I consider myself a sneakerhead. I hope you
    enjoy surfing this website and finding out some interesting information about sneakers and my exact taste, and
    also learning about my favorite sneaker dudes/idols who I absolutely admire. </h4>

<div id="footer"> <h5> Copyright 2016 </h5> </div>
